<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.jsp.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.jsp.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.jsp.Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCategory</servlet-name>
  	<display-name>AddCategory</display-name>
  	<description></description>
  	<servlet-class>com.jsp.Servlet.AddCategory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.jsp.Servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAdmin</servlet-name>
  	<display-name>AddAdmin</display-name>
  	<description></description>
  	<servlet-class>com.jsp.Servlet.AddAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MerchantSignup</servlet-name>
  	<display-name>MerchantSignup</display-name>
  	<description></description>
  	<servlet-class>com.jsp.Servlet.MerchantSignup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MerchantLogin</servlet-name>
  	<display-name>MerchantLogin</display-name>
  	<description></description>
  	<servlet-class>com.jsp.Servlet.MerchantLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStatus</servlet-name>
  	<display-name>UpdateStatus</display-name>
  	<description></description>
  	<servlet-class>com.jsp.Servlet.UpdateStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Userhome</servlet-name>
  	<display-name>Userhome</display-name>
  	<description></description>
  	<servlet-class>com.jsp.Servlet.Userhome</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProduct</servlet-name>
  	<display-name>AddProduct</display-name>
  	<description></description>
  	<servlet-class>com.jsp.Servlet.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCategory</servlet-name>
  	<url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAdmin</servlet-name>
  	<url-pattern>/AddAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MerchantSignup</servlet-name>
  	<url-pattern>/MerchantSignup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MerchantLogin</servlet-name>
  	<url-pattern>/MerchantLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStatus</servlet-name>
  	<url-pattern>/UpdateStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Userhome</servlet-name>
  	<url-pattern>/Userhome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProduct</servlet-name>
  	<url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
</web-app>
